<div class="cf bt b--black-10 ph3 ph5-ns pv5 pv5-ns">
  <div class="fl-ns w-25-ns">
    <h2 class="f2 f4-ns mt0 mb4">Awards</h2>
  </div>

  <div class="fl-ns w-75-ns lh-copy">
    {% for item in site.data.awards %}
      <div class="{% if forloop.last == false %}mb4 mb0-ns {% endif %}cf">
        <div class="fl-ns w-third-ns">
          <h3 class="f4 ma0">{{ item.year }}</h3>
        </div>

        <div class="fl-ns w-two-thirds-ns">
          <p class="f4 ma0">{{ item.title }}, {{ item.issuedBy }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
