<div class="mb5 mb6-ns cf">
  <div class="fl-ns w-25-ns">
    <h2 class="f2 f4-ns mt0 mb4">Contact</h2>
  </div>

  <div class="fl-ns w-75-ns lh-copy">

    <div class="mb4 mb0-ns cf">
      <div class="fl-ns w-third-ns">
        <h3 class="f4 ma0">Address</h3>
      </div>

      <div class="fl-ns w-two-thirds-ns">
        <p class="f5 f4-ns ma0">{{ site.address }}</p>
      </div>
    </div>

    <div class="mb4 mb0-ns cf">
      <div class="fl-ns w-third-ns">
        <h3 class="f4 ma0">Email</h3>
      </div>

      <div class="fl-ns w-two-thirds-ns">
        <p class="f5 f4-ns ma0"><a class="link black dim" href="mailto:{{ site.email | encode_email }}">{{ site.email }}</a></p>
      </div>
    </div>

    <div class="cf">
      <div class="fl-ns w-third-ns">
        <h3 class="f4 ma0">Phone</h3>
      </div>

      <div class="fl-ns w-two-thirds-ns">
        <p class="f5 f4-ns ma0">{{ site.phone }}</p>
      </div>
    </div>

  </div>
</div>
