<div class="cf bt b--black-10 ph3 ph5-ns pv5 pv5-ns">
  <div class="fl-ns w-25-ns">
    <h2 class="f2 f4-ns mt0 mb4">Education</h2>
  </div>

  <div class="fl-ns w-75-ns lh-copy">
    {% for item in site.data.education %}
      <div class="{% if forloop.last == false %}mb4 mb2-ns {% endif %}cf">
        <div class="fl-ns w-third-ns">
          <h3 class="f4 ma0">{{ item.timeframe }}</h3>
        </div>

        <div class="fl-ns w-two-thirds-ns">
          <p class="f4 ma0">{{ item.course }}, {{ item.school }}, {{ item.location }}</p>
          {% if item.text %}<p class="f4 ma0">{{ item.text }}</p>{% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
