<header>
  <nav class="dt w-100 border-box ph3 pv4 ph5-ns">
    <div class="dtc v-mid w-25">
      <a class="mid-gray link dim" href="{{ site.baseurl }}/" title="Home">
        <img src="{{ site.baseurl }}/images/duygukacar.jpg" class="dib w2 w3-m w3-l h2 h3-m h3-l br-100" alt="{{ site.name }}">
      </a>
    </div>
    <div class="dtc v-mid w-75 tr">
      <a class="link dim black f5 dib mr3 mr4-ns" href="{{ site.baseurl }}/">Projects</a>
      <a class="link dim black f5 dib" href="mailto:{{ site.email | encode_email }}">Email</a>
    </div>
  </nav>
</header>
