<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body class="w-100 sans-serif">
    <nav class="dt w-100 border-box pa3 ph5-ns">
      <a class="dtc v-mid mid-gray link dim w-25" href="{{ site.baseurl }}/" title="Home">
        <img src="{{ site.baseurl }}/images/duygukacar.jpg" class="dib w2 h2 br-100" alt="{{ site.name }}">
      </a>
      <div class="dtc v-mid w-75 tr">
        <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ site.baseurl }}/" title="About">Home</a>
        <a class="link dim dark-gray f6 f5-ns dib" href="{{ site.baseurl }}/cv" title="Contact">CV</a>
      </div>
    </nav>

    <div id="main" role="main">
      {{ content }}
    </div>

    <footer class="pa3 ph5-ns pv6 bt b--black-10 black-70">
      <a href="mailto:" class="link b f3 f2-ns dim black-70 lh-solid">{{ site.email }}</a>
      <p class="f6 db lh-solid">© 2016 Duygu Kaçar</p>
      <div class="mt5">
        <a href="/language/" title="Language" class="f6 dib pr2 mid-gray dim">Language</a>
        <a href="/terms/"    title="Terms" class="f6 dib ph2 mid-gray dim">Terms of Use</a>
        <a href="/privacy/"  title="Privacy" class="f6 dib pl2 mid-gray dim">Privacy</a>
      </div>
    </footer>

    {% include analytics.html %}
  </body>
</html>
